html{
    background-color: #FFD03A;
  /*   background-color: rgb(255, 255, 255); */
    margin: 0%;
    padding: 0%;
}

img{
height: 500px;
width: 500px;
border-radius: 36%;
margin: 0;
position: relative;
left: 60%;
margin-top: 50px;
border: 80px solid white;
}

#head{
    text-align: center;
    font-family: 'Protest Riot', sans-serif;
    
   
    margin: 0%;
    padding: 0%;
    position: absolute;
    z-index: 1;
   
    color:#FFD03A;
    color:rgb(255, 255, 255)
    
}
#head>h1{
    font-size: 6rem;
}
#head>h2{
    text-align: left;
    font-size: 2rem;
    font-family: 'Sixtyfour', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}
nav{
   
    margin-left: 70%;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 20px solid white;
    
  }
  li{
    display:inline-block
  }
  p{
    
    display:inline-block
  }
#nav{
    background-color: #FFD03A;
    background-color: #ffffff;
}
.full{
    border: 19px;
}
